svg {
    width: 100%;
}

.balloon {
    max-width: 300px;
    transition: all .35s;
    margin: 0 auto;
}

.balloon-cell { width: 50%;padding: 0.5em; }

.balloon-wrapper {
    position: relative;
    padding: 3em 2em 0;
    overflow: hidden;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    max-height: 50vmin;
}

@media only screen and (min-width: 800px) {
    .balloon-cell { width: 33.33%;max-width: 280px;  }
    .balloon-wrapper { max-height: calc(50vmin - 5em); }
}