.game-container {
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
    min-height: 100vh;
}

.intro {
    background-color: rgba(255,0,0,.5); /* Transparent background for dev purpose */
    position: absolute;
    z-index: 1; /* Display over game display */
    left: 0;        /* horizontal centering absolute div */
    right: 0;       /* horizontal centering absolute div */
    margin: 0 auto; /* horizontal centering absolute div */
    top: 0;             /* Full screen display */
    min-height: 100vh;  /* Full screen display */
    display: flex;              /* Flex behavior */
    justify-content: center;    /* Flex behavior */
    align-items: center;        /* Flex behavior */
    transition: all 3000ms; /* Slow transitions for dev purpose */
}

.intro.gameStarted {
    top: -50vh; /* I don't want to lose sight of for dev purpose */
    pointer-events: none;
    opacity: 0.2; /* Avoid null opacity for dev purpose */
}

.balloon-grid-wrapper {
    background-color: rgba(0,255,0,.5);
}