:root {
  --background-color: #282c34;
  --color-1: #ffffff;
  --color-2: #61dafb;

  box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body {
font-size: calc(10px + 2vmin);
background-color: var(--background-color);
color: var(--color-1);
margin: 0;
}